- model_class = User
.page-header
  %h1
    = "#{@user.name}'s #{@year} wrapped"
    %small
      the last twelve months

.alert.alert-info
  This is a new feature. Be sure to leave feedback on
  = link_to "GitHub", "https://github.com/chaosdorf/mete/pull/108"

- if @empty
  .alert.alert-warning
    There are no logs for your account for the this year.
    Please make sure that the "audit" option is enabled in
    = link_to 'your account settings', edit_user_path(@user)
    and check back next year.
- else
  .card
    .card-header
      Most Bought Drink
    .row.g-0
      .col-xs-1.col-sm-4.col-md-3.col-lg-2
        .wrapped-image
          = image_tag @most_bought_drink[:drink].logo(:thumb), alt: @most_bought_drink[:drink].name, class: ['img-fluid', 'rounded-start']
      .col-md-8.card-body
        %h5.card-title
          Your favorite drink is #{@most_bought_drink[:drink].name}.
        .card-text
          At least you bought it #{@most_bought_drink[:count]} times this year.
        .card-text
          - if @most_bought_drink[:user_more] > 1
            There are only #{@most_bought_drink[:user_more]} other users who enjoy
          - if @most_bought_drink[:user_more] == 1
            There is only one other user who enjoys
          - if @most_bought_drink[:user_more] == 0
            There are no other users who enjoy
          #{@most_bought_drink[:drink].name} more than you.
  .card.mt-3
    .card-header
      Caffeine Consumption
    .row.g-0
      .col-xs-1.col-sm-4.col-md-3.col-lg-2
        - if Rails.application.assets_manifest.find_sources("#{@caffeine[:would_kill]}.png").any?
          = image_tag image_url("#{@caffeine[:would_kill]}.png"), alt: @caffeine[:would_kill], class: ['img-fluid', 'rounded-start', 'mx-auto'], style: 'display: block'
        - else
          = image_tag image_url('coffee-beans.png'), alt: 'coffee beans', class: ['img-fluid', 'rounded-start', 'mx-auto'], style: 'display: block'
      .col-md-8.card-body
        %h5.card-title
          You consumed #{@caffeine[:total]} mg of caffeine this year.
        - if @caffeine[:would_kill]
          .card-text
            This could kill a medium-weight #{@caffeine[:would_kill]}. Glad you're still here.
  .card.mt-3
    .card-header
      Most Active Times
    .row.g-0
      .col-xs-1.col-sm-4.col-md-3.col-lg-2
        = image_tag image_url('clock.png'), alt: 'coffee beans', class: ['img-fluid', 'rounded-start', 'mx-auto'], style: 'display: block'
      .col-md-8.card-body
        %h5.card-title
          You were most active on #{@most_active[:weekday]}s at #{@most_active[:hour]} o'clock.
