- path = buy_api_user_path(@user, format: 'json') if @user

.col-xs-12.col-sm-4.col-md-2.col-lg-2
  = form_tag path, method: 'post' do
    = hidden_field_tag('drink', drink.id)
    %button.submitButton
      .drink-panel.panel.panel-default.text-center
        .panel-header
          %h6= drink.name
        .panel-body
          = image_tag drink.logo(:thumb), alt: drink.name, class: drink.active? ? "" : "disabled"
        .panel-footer
          = show_amount drink.price
