= semantic_form_for @drink, :html => { :class => 'form-horizontal' } do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
    = f.input :bottle_size, :append => 'l'
    = f.input :caffeine, :append => 'mg/100 ml'
    = f.input :price, :prepend => currency_symbol
    = f.input :logo
  = f.actions do
    = f.action :submit
