= form_for @drink, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :bottle_size, :class => 'control-label'
    .controls
      = f.text_field :bottle_size, :class => 'text_field'
  .control-group
    = f.label :caffeine, :class => 'control-label'
    .controls
      = f.text_field :caffeine, :class => 'text_field'
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.text_field :price, :class => 'text_field'
  .control-group
    = f.label :logo, :class => 'control-label'
    .controls
      = f.file_field :logo
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), drinks_path, :class => 'btn'
