- content_for :actions do
  %li
    = link_to 'delete drink', @drink, method: :delete, confirm: "Really delete drink #{@drink.name}?"

= semantic_form_for @drink, :html => { :class => 'form-horizontal' } do |f|
  = f.semantic_errors
  = f.inputs  do
    = f.input :name, hint:'the label says…'
    = f.input :price, as: :number, hint:'e.g. 1.50'
    = f.input :bottle_size, hint: '0.5 or 0.33?'
    = f.input :caffeine, hint: 'in mg/100 ml'
    = f.input :logo, hint: 'make it look pretty'
  = f.actions do
    = f.action :submit
