- content_for :actions do
  %li
    = link_to 'delete drink', @drink, method: :delete, :data => {confirm: "Really delete drink #{@drink.name}?"}

= semantic_form_for @drink, :html => { :class => 'form-horizontal' } do |f|
  = f.semantic_errors
  = f.inputs  do
    = f.input :name, hint:'the label says…'
    = f.input :price, as: :number, hint:'in cents; e.g. 150; locked due to vandalism', :input_html => { :disabled => true }
    = f.input :bottle_size, hint: '0.5 or 0.33?'
    = f.input :caffeine, hint: 'in mg/100 ml'
    = f.input :logo, hint: 'make it look pretty'
    = f.input :active
  = f.actions do
    = f.action :submit
    = link_to 'Add a barcode', new_barcode_path(:drink => @drink.id), :class => 'btn'
