- model_class = Drink
- content_for :actions do
  %li.nav-item
    = link_to 'new drink', [:new, :drink], class: "nav-link"

.page-header
  %h1
    Drinks.
    %small All of them!

%table.table.table-striped.table-bordered.table-dark
  %thead
    %tr
      %th{:scope => "col"}
        = model_class.human_attribute_name(:logo)
        %span.small
          (click to edit drink)
      %th{:scope => "col"}= model_class.human_attribute_name(:name)
      %th{:scope => "col"}= model_class.human_attribute_name(:bottle_size)
      %th{:scope => "col"}= model_class.human_attribute_name(:caffeine)
      %th{:scope => "col"}= model_class.human_attribute_name(:price)
      %th{:scope => "col"}= model_class.human_attribute_name(:created_at)
  %tbody
    - @drinks.each do |drink|
      %tr
        %td
          = link_to [:edit, drink] do
            = image_tag drink.logo(:thumb), class: drink.active ? "" : "disabled"
        %th{:scope => "row"}= drink.name
        %td= drink.bottle_size
        %td= drink.caffeine
        %td= show_amount drink.price
        %td= drink.created_at.strftime("%d %b %Y - %H:%M")
