%p#notice= notice

%p
  %b Name:
  = @drink.name
%p
  %b Bottlesize:
  = @drink.bottleSize
%p
  %b Caffeine:
  = @drink.caffeine
%p
  %b Donationrecommendation:
  = @drink.donationRecommendation
%p
  %b Logourl:
  = @drink.logoUrl

= link_to 'Edit', edit_drink_path(@drink)
\|
= link_to 'Back', drinks_path
