= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, hint: 'your nickname'
    = f.input :avatar_provider,
      :collection => [['Gravatar', 'gravatar']],
      :as => :radio_buttons,
      :hint => "This determines how the identifier below will be interpreted. Use an email for Gravatar"
    = f.input :avatar, hint: 'An identifier for your avatar'
    = f.input :balance, :as => :decimal, hint: 'just in case you need to correct this'
    = f.input :active
    = f.input :audit, hint: 'This will create detailed logs about what you buy and deposit. If you uncheck this box, all records will be deleted.'
    = f.input :redirect, hint: "Redirect after buying a drink?"
  .form-actions
    = f.button :submit, class: 'btn-primary'

%style .user { display: initial!important; }
