= semantic_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :balance, :as => :number, :prepend => currency_symbol
  .controls
    = f.action :submit


