- model_class = User
- content_for :title do
  User #{@user.name}
- content_for :actions do
  %li.nav-item
    = link_to 'edit user', edit_user_path(@user), class: "nav-link"
  - if @user.audit?
    %li.nav-item
      = link_to 'show logs', audits_path(:user => @user), class: "nav-link"
  %li.nav-item
    = link_to 'delete user', @user, :method => :delete, :data => {:confirm => "Really delete #{@user.name}’s account?"}, class: "nav-link"
.page-header
  %h1
    = "Hi, #{@user.name}"
    %small
      Pick Your Poison.

.row
  .col-4.col-sm-3.col-md-2.col-lg-2.col-xl-1#user-page-avatar-holder
    = avatar(@user)
  .col-8.col-sm-9.col-md-10.col-lg-10.col-xl-11
    %dl.dl-horizontal
      %dt
        = @user.avatar_provider == "gravatar" ? "Gravatar" : "WebFinger / ActivityPub"
      %dd
        = @user.avatar
      %dt
        = model_class.human_attribute_name(:balance)
      %dd
        - if @user.balance < -50
          .text-danger
            = show_amount @user.balance
        - elsif @user.balance < 0
          .text-warning
            = show_amount @user.balance
        - else
          .text-success
            = show_amount @user.balance

- if @wrapped
  .mt-3.alert.alert-info
    Your #{@wrapped} wrapped is available.
    = link_to 'See what you\'ve been up to.', user_wrapped_path(@user, @wrapped)

%hr

%form{:method => "POST", :action => buy_barcode_user_path}
  %small
    Buy a drink by scanning a barcode: 
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %input{:name => "barcode", :autofocus => ""}

%hr

.row.drinks
  = render @drinks, :locals => {:user => @user}

.row
  = render partial: 'bills'
