- model_class = User
- content_for :actions do
  %li.nav-item
    = link_to 'edit user', edit_user_path(@user), class: "nav-link"
  - if @user.audit?
    %li.nav-item
      = link_to 'show logs', audits_path(:user => @user), class: "nav-link"
  %li.nav-item
    = link_to 'delete user', @user, :method => :delete, :data => {:confirm => "Really delete #{@user.name}’s account?"}, class: "nav-link"
.page-header
  %h1
    = "Hi, #{@user.name}"
    %small
      Pick Your Poison.

.row
  .col-xs-4.col-sm-2.col-md-2.col-lg-1#user-page-avatar-holder
    = gravatar(@user)
  .col-xs-8.col-sm-10.col-md-10.col-lg-11
    %dl.dl-horizontal
      %dt
        = model_class.human_attribute_name(:email)
      %dd
        = @user.email
      %dt
        = model_class.human_attribute_name(:balance)
      %dd
        = show_amount @user.balance

%hr

%form{:method => "POST", :action => buy_barcode_user_path}
  %small
    Buy a drink by scanning a barcode: 
  %input{:name => "barcode"}

%hr

.row.drinks
  = render @drinks, :locals => {:user => @user}

.row
  = render partial: 'bills'
