- model_class = User
.span2
  %span.label= @user.name
  = gravatar(@user)
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @user.email
%p
  %strong= model_class.human_attribute_name(:balance) + ':'
  %br
  = @user.balance
  EUR

.form-actions
  .row
    .span3
      = link_to '-2.00 EUR', payment_user_path(@user, :amount => 200), :class => 'btn btn-drink btn-flora'
    .span3
      = link_to '-1.50 EUR', payment_user_path(@user, :amount => 150), :class => 'btn btn-drink btn-0l5'
    .span3
      = link_to '-1.00 EUR', payment_user_path(@user, :amount => 100), :class => 'btn btn-drink btn-0l33'
  .row
    .span3
      = link_to '+50.00 EUR', deposit_user_path(@user, :amount => 5000), :class => 'btn btn-pay btn-euro-50'
    .span3
      = link_to '+20.00 EUR', deposit_user_path(@user, :amount => 2000), :class => 'btn btn-pay btn-euro-20'
    .span3
      = link_to '+10.00 EUR', deposit_user_path(@user, :amount => 1000), :class => 'btn btn-pay btn-euro-10'
    .span3
      = link_to '+5.00 EUR', deposit_user_path(@user, :amount => 500), :class => 'btn btn-pay btn-euro-5'
  .row
    .span1
      = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-inverse'
    .span1
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
    .span1
      = link_to t('.destroy', :default => t("helpers.links.destroy")),
    user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
