- model_class = Audit

= form_tag({}, { :class => 'form-horizontal', :method => :get }) do
  .mb-3
    = label_tag :start_date, "Show audits from ", class: 'col-form-label'
    .controls
      = select_date @start_date, prefix: :start_date, class: 'form-control'
  .mb-3
    = label_tag :end_date, "until", class: 'col-form-label'
    .controls
      = select_date @end_date, prefix: :end_date, class: 'form-control'
  - unless @user.nil?
    %input{:type => "hidden", :name => "user", :value => @user.id}
  .mb-3
    .controls
      %button.btn.btn-primary
        Filter


%p
  %strong Sum of all deposits made:
  = @deposits_sum
%p
  %strong Sum of all payments made:
  = @payments_sum
%p
  %strong Sum of all transactions:
  = @sum

%p
  %strong
    = "Showing data from #{@start_date} to #{@end_date} for "
    = @user.nil? ? "all users" : "user #{@user.name}"
    \:

%table.table.table-striped.table-bordered.table-sm.table-dark
  %thead
    %tr
      %th{:scope => "col"} Timestamp
      %th{:scope => "col"} Amount
      %th{:scope => "col"} Drink
  %tbody
    - @audits.each do |audit|
      - if audit.difference > 0
        %tr.table-success
          %td= audit.created_at
          %td
            = show_amount audit.difference
          %td n/a
      - else
        %tr.table-danger
          %td= audit.created_at
          %td
            = show_amount audit.difference
          %td
            = link_to_drink_if_exists audit.drink
