- model_class = Barcode
- content_for :actions do
  %li
    = link_to 'new barcode', [:new, :barcode]

.page-header
  %h1
    Barcodes.
    %small Here they are.

%table.table
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:drink)
      %th Delete?
  %tbody
    - @barcodes.each do |barcode|
      %tr
        %td= barcode.id
        %td
          - drink = Drink.find_by(:id => barcode.drink)
          = link_to drink do
            = drink.name
        %td
          = link_to 'delete', barcode, method: :delete, :data => {confirm: "Really delete this barcode?"}
