- model_class = Barcode
- content_for :title do
  Barcodes
- content_for :actions do
  %li.nav-item
    = link_to 'new barcode', [:new, :barcode], class: "nav-link"

.page-header
  %h1
    Barcodes.
    %small Here they are.

%table.table.table-striped.table-bordered.table-dark
  %thead
    %tr
      %th{:scope => "col"}= model_class.human_attribute_name(:id)
      %th{:scope => "col"}= model_class.human_attribute_name(:drink)
      %th{:scope => "col"} Delete?
  %tbody
    - @barcodes.each do |barcode|
      %tr
        %th{:scope => "row"}= barcode.id
        %td
          = link_to_drink_if_exists barcode.drink
        %td
          = link_to 'delete', barcode, method: :delete, :data => {confirm: "Really delete this barcode?"}
