!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %title= content_for?(:title) ? yield(:title) : "Mete"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png" }
    %link{ rel: "icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "shortcut icon", href: "/favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "/favicon.ico" }
    %link{ rel: "manifest", href: "/manifest.json" }

  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top( role="navigation" )
        .navbar-header
          %button.navbar-toggle( type="buttoon" data-toggle="collapse" data-target=".navbar-ex1-collapse" )
            %span.sr-only Toggle navigation
            - 3.times do
              %span.icon-bar
          = link_to 'MeTe', root_path, :class => 'navbar-brand'

        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li= link_to "Users", "/users"
            %li= link_to "Stats", "/users/stats"
            %li= link_to "Audits", "/audits"
            %li= link_to "Drinks", "/drinks"
            %li= link_to "Barcodes", "/barcodes"
          %ul.nav.navbar-nav.navbar-right
            = yield :actions

    %article
      .container
        = render 'flash'
        = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = yield :footer