!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %title= content_for?(:title) ? yield(:title) : "Mete"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: image_path("/apple-touch-icon-144x144-precomposed.png") }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: image_path("/apple-touch-icon-114x114-precomposed.png") }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: image_path("/apple-touch-icon-72x72-precomposed.png") }
    %link{ rel: "apple-touch-icon", href: image_path("/apple-touch-icon-precomposed.png") }
    %link{ rel: "icon", sizes: "144x144", href: image_path("/apple-touch-icon-144x144-precomposed.png") }
    %link{ rel: "icon", sizes: "114x114", href: image_path("/apple-touch-icon-114x114-precomposed.png") }
    %link{ rel: "icon", sizes: "72x72", href: image_path("/apple-touch-icon-72x72-precomposed.png") }
    %link{ rel: "shortcut icon", href: image_path("/favicon.png") }
    %link{ rel: "icon", type: "image/ico", href: image_path("/favicon.ico") }
    %link{ rel: "manifest", href: asset_path("/manifest.json") }
    - if params[:iframe] == "true"
      = stylesheet_link_tag "iframe", :media => "all"

  %body
    %header
      %nav.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top( role="navigation" )
        .container-fluid
          %button.navbar-toggler( type="button" data-bs-toggle="collapse" data-bs-target=".navbar-ex1-collapse" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" )
            %span.navbar-toggler-icon
          = link_to 'MeTe', root_path, :class => 'navbar-brand'

          .collapse.navbar-collapse.navbar-ex1-collapse.justify-content-between#navbar
            %ul.navbar-nav.mr-auto
              %li.nav-item= link_to "Users", url_for(controller: 'users'), class: "nav-link"
              %li.nav-item= link_to "Stats", url_for(controller: 'users', action: 'stats'), class: "nav-link"
              %li.nav-item= link_to "Audits", url_for(controller: 'audits'), class: "nav-link"
              %li.nav-item= link_to "Drinks", url_for(controller: 'drinks'), class: "nav-link"
              %li.nav-item= link_to "Barcodes", url_for(controller: 'barcodes'), class: "nav-link"
            %ul.navbar-nav
              = yield :actions

    %article
      .container
        = render 'flash'
        = yield

    %footer.footer
      .container
        %p.text-muted
          mete
          = link_to get_revision, "https://github.com/chaosdorf/mete/tree/#{get_revision}"

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = yield :footer
